:root {
  --font-family: "Roboto", sans-serif;
  --font-weight: 700;
  --accent-color: #2196f3;
  --title-color: #212121;
  --text-color: #757575;
}
body {
  font-family: var(--font-family);
  font-style: normal;
}
.link {
  text-decoration: none;
}
.list {
  list-style: none;
}
/* =================== Шапка =========================== */
header {
  background: #ffffff;
}
/* ==================== logo header ===================== */
.header-logo,
.footer-logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
}
/* ==================== span header-logo ===================== */
.header-logo span {
  color: #000000;
}
/* ========================= Навигационные ссылки ===================== */
.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-color);
}
/* ====================== email tel ============================ */
.header-email,
.header-tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-color);
}
/* ==================== hover, focus в шапке ===================== */
.header-link:hover,
.header-link:focus,
.header-email:hover,
.header-email:focus,
.header-tel:hover,
.header-tel:focus {
  color: var(--accent-color);
}

.main,
footer {
  background: #2f303a;
}
/* ================== Эффективные решения для вашего бизнеса ================ */
.main-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
/* =========================== Кнопка заказать услугу ============================= */
.main-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
/* ===== Внимание к деталям, Пунктуальность, Планирование, Современные технологии ====== */
.advantages-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-color);
}
/* ================================ Абзацы Наши преимущества ================================= */
.advantages-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
/* =============================== Чем мы занимаемся ======================================== */
.doing {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
}
/* ==================================== Наша команда ====================================== */
.team-titles {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
}
/* ================================= imgs Наша команда=============================*/
.team-img {
  border-radius: 0px;
}
/* ============ Игорь Демьяненко, Ольга Репина, Николай Тарасов, Михаил Ермаков=============================*/
.team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
}
/* =================== Product Designer, Frontend Developer, Marketing, UI Designer ==================*/
.team-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
/* ===================== span footer-logo ========================= */
.footer-logo span {
  color: #ffffff;
}
/* ===================== footer address========================= */
.address {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}
/* ===================== footer email========================= */
.footer-email,
.footer-tel {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
